
.reveal .performance-chart {
    border-left: 5px solid hsl(128, 9%, 34%);
    border-bottom: 5px solid hsl(128, 9%, 34%);
    position: relative;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
}

/*.reveal .performance-chart__axe-title {
  color: hsl(33, 48%, 87%);
}*/

.reveal .performance-chart__lang {
  font-size: 70px;
}

.reveal pre code.code--big {
  max-height: 500px;
}


pre#gc-code {
  width: 62%;
  display: inline-block;
  float: left;
}

#gc-code code, #gc-code static-code {
  font-size: 20px;
  line-height: 28px;
}

pre#heap-layout {
  display: inline-block;
  width: auto;
}

#heap-layout code {
  font-size: 16px;
  line-height: 14px;
  display: inline-block;
}
