<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>The Best Angular Yet!</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/thoughtram.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <a style="font-family: Open Sans; text-decoration: none; font-size: 1.5em;position: absolute; top: 1em; left: 1em; z-index: 2;" href="http://ngeurope.org">
      <img style="opacity: 0.5;"height="50" src="img/ng-nl-logo.png">
      <span style="color: #888; text-shadow: none; vertical-align: 90%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">#ngnlconf</span>
    </a>

    <a style="font-family: Open Sans; text-decoration: none; font-size: 1.5em;position: absolute; bottom: 1em; left: 1em; z-index: 2;" href="http://twitter.com/cburgdorf">
      <span style="color: #888; text-shadow: none; vertical-align: 80%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">@cburgdorf</span>
    </a>

    <a style="font-family: Open Sans; text-decoration: none; font-size: 1.5em;position: absolute; bottom: 1em; left: 6em; z-index: 2;" href="http://twitter.com/PascalPrecht">
      <span style="color: #888; text-shadow: none; vertical-align: 80%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">@PascalPrecht</span>
    </a>
    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <!-- <section class="thoughtram-slide" data-background="#f0f0f0"> -->
        <!--   <img alt="thoughtram brain" src="img/thoughtram-brain-black.png"> -->
        <!--   <img alt="Extend your memory." src="img/thoughtram-logo-line-with-tag-line.png"> -->
        <!-- </section> -->
        <section class="deck-slide">
          <img style="text-align: center; display: block; margin: 0 auto; width: 320px;" src="img/angularjs-shield.png">
          <h1 style="text-align: center; font-size: 2.4em; margin-top: 0.1em;">The Best Angular Yet!</h1>
          <p style="text-align: center; font-size: 0.8em;">By <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a> and <a href="http://twitter.com/PascalPrecht">Pascal Precht</a></p>
          <div style="text-align: center;">
            <img style="margin: 0; margin-right: 0.6em; border-radius: 50%; width: 100px;" src="img/christoph.png">
            <img style="margin: 0; margin-left: 0.6em; border-radius: 50%; width: 100px;" src="img/pascal.jpeg">
          </div>
        </section>

        <section class="about-slide">
          <div style="margin-top: 3em;">
          <div class="about">
            <img width="250" height="250" alt="Christoph" src="img/christoph.png">
            <h3>Christoph Burgdorf</h3>
            <h3 style="margin-top: -0.5em;"><a href="http://twitter.com/cburgdorf">@cburgdorf</a></h3>
          </div>
          <div class="about">
            <img width="250" height="250" alt="Pascal" src="img/pascal.jpeg">
            <h3>Pascal Precht</h3>
            <h3 style="margin-top: -0.5em;"><a href="http://twitter.com/PascalPrecht">@PascalPrecht</a></h3>
          </div>
        </div>
        </section>

        <section>
          <p style="font-weight: bold;" >There's a lot of stuff happening in Angular 2.0</p>
        </section>
        <section class="image-slide">
          <img src="img/rip-angular-module.png">
        </section>
        <section class="image-slide">
          <img src="img/rip-scope.png">
        </section>
        <section class="image-slide">
          <img src="img/rip-controllers.png">
        </section>
        <section class="image-slide">
          <img src="img/rip-ddo.png">
        </section>
        <section class="image-slide">
          <img src="img/rip-jqlite.png">
        </section>

        <section class="image-slide">
          <img src="img/rip-all-the-things.png">
          <img class="fragment" style="position: absolute; right: -1em; transform: rotate(-10deg); top: 5em; border: 10px solid white!important; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8)!important;" src="img/chris-rock-huh-face.gif">
        </section>

        <section class="image-slide">
          <img class="fragment" style="margin-left: -10em; margin-top: 5em; width: 300px;" src="img/Igor_Minar.png">
          <img class="fragment" style="position: absolute; width: 500px; top: 1em; right: 0;" src="img/speech-bubble.svg">
        </section>

        <section class="image-slide">
          <h2>So my 1.x code is not gonna work anymore?</h2>
          <img src="img/shocked.gif" style="margin-top: 2em; width: 600px;">
        </section>
        <section class="image-slide">
          <h2>And I should wait until 2.0 is out?</h2>
          <img src="img/shocked.gif" style="margin-top: 2em; width: 600px;">
        </section>

        <section class="image-slide">
          <img style="margin-left: -10em; margin-top: 5em; width: 300px;" src="img/Igor_Minar.png">
          <img class="fragment" style="position: absolute; width: 500px; top: 1em; right: 0;" src="img/speech-bubble-2.svg">
        </section>
        <section class="image-slide">
          <img style="margin-left: -10em; margin-top: 5em; width: 300px;" src="img/Igor_Minar.png">
          <img style="position: absolute; width: 500px; top: 1em; right: 0;" src="img/speech-bubble-3.svg">
        </section>
        <section class="image-slide">
          <img style="margin-left: -10em; margin-top: 5em; width: 300px;" src="img/Igor_Minar.png">
          <img style="position: absolute; width: 500px; top: 1em; right: 0;" src="img/speech-bubble-4.svg">
        </section>

        <section class="image-slide">
          <img src="img/angular-jesus.jpg">
        </section>

        <section>
          <h2>4 Topics to talk about</h2>
          <ul>
            <li class="fragment">bindToController</li>
            <li class="fragment">ngModelOptions</li>
            <li class="fragment">One-time Bindings</li>
            <li class="fragment">Surprise!</li>
          </ul>
        </section>

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#80B4C4">
          <h2>bindToController</h2>
        </section>
        <section>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  {{defaultName}}
  <div ng-controller="OtherController">
    {{defaultName}}
    <div ng-controller="YetAnotherController">
      {{defaultName}}
    </div>
  </div>
</div>
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable><code>app.controller('AppController', ($scope) => {
  $scope.defaultName = 'Pascal Precht';
});

app.controller('OtherController', ($scope) => {
  $scope.defaultName = 'Christoph Burgdorf';
});

app.controller('YetAnotherController', ($scope) => {
  $scope.defaultName = 'thoughtram';
});
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  {{defaultName}}
  <div ng-controller="OtherController">
    {{defaultName}}
    <div ng-controller="YetAnotherController">
      {{defaultName}}
    </div>
  </div>
</div>
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  Pascal Precht
  <div ng-controller="OtherController">
    Christoph Burgdorf
    <div ng-controller="YetAnotherController">
      thoughtram
    </div>
  </div>
</div>
</code></pre>
        </section>

        <section>
          <h2>Accessing outer scope's properties</h2>

          <p>There are basically two ways to access an outer scopes properties that are primitives.</p>
          <ul style="margin-top: 1em;">
            <li class="fragment">Using the scope's <code>$parent</code> property</li>
            <li class="fragment">By creating a new object on the outer scope and defining properties there</li>
          </ul>
        </section>

        <section>
          <h2>$parent property</h2>
            <pre class="fragment" ng-non-bindable><code><div ng-controller="AppController">
  {{defaultName}}
  <div ng-controller="OtherController">
    {{defaultName}}
    <div ng-controller="YetAnotherController">
      {{defaultName}}
    </div>
  </div>
</div>
</code></pre>
<p style="visibility: hidden;" >foo</p>
        </section>

        <section>
          <h2>$parent property</h2>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  {{defaultName}}
  <div ng-controller="OtherController">
    {{$parent.defaultName}}
    <div ng-controller="YetAnotherController">
      {{$parent.$parent.defaultName}}
    </div>
  </div>
</div>
</code></pre>
<p class="fragment">Considered bad practice.</p>
        </section>

        <section>
          <h2>Object property on scope</h2>
            <pre class="fragment" ng-non-bindable><code>app.controller('AppController', ($scope) => {
  $scope.defaultName = 'Pascal Precht';
});

app.controller('OtherController', ($scope) => {
  $scope.defaultName = 'Christoph Burgdorf';
});

app.controller('YetAnotherController', ($scope) => {
  $scope.defaultName = 'thoughtram';
});
</code></pre>
        </section>

        <section>
          <h2>Object property on scope</h2>
            <pre ng-non-bindable><code>app.controller('AppController', ($scope) => {
  $scope.app = { defaultName: 'Pascal Precht' };
});

app.controller('OtherController', ($scope) => {
  $scope.other = { defaultName: 'Christoph Burgdorf' }
});

app.controller('YetAnotherController', ($scope) => {
  $scope.another = { defaultName: 'thoughtram' }
});
</code></pre>
        </section>
        <section>
          <h2>Object property on scope</h2>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  {{defaultName}}
  <div ng-controller="OtherController">
    {{$parent.defaultName}}
    <div ng-controller="YetAnotherController">
      {{$parent.$parent.defaultName}}
    </div>
  </div>
</div>
</code></pre>
        </section>
        <section>
          <h2>Object property on scope</h2>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  {{app.defaultName}}
  <div ng-controller="OtherController">
    {{app.defaultName}}
    <div ng-controller="YetAnotherController">
      {{app.defaultName}}
    </div>
  </div>
</div>
</code></pre>
        </section>
        <section>
          <h2>Object property on scope</h2>
            <pre ng-non-bindable><code><div ng-controller="AppController">
  {{app.defaultName}}
  <div ng-controller="OtherController">
    {{other.defaultName}}
    <div ng-controller="YetAnotherController">
      {{another.defaultName}}
    </div>
  </div>
</div>
</code></pre>
        </section>

        <section>
          <h3>Best Practice</h3>
          <p>Always have a <code>.</code> in your binding expressions.</p>
        </section>

        <section>
          <p>But both solutions feel more like a workaround.</p>
        </section>

        <section>
          <h2>controllerAs</h2>

            <pre class="fragment" ng-non-bindable><code><div ng-controller="AppController as app">
  {{app.defaultName}}
  <div ng-controller="OtherController as other">
    {{other.defaultName}}
    <div ng-controller="YetAnotherController as another">
      {{another.defaultName}}
    </div>
  </div>
</div>
</code></pre>
        </section>
        <section>
          <h2>controllerAs</h2>
            <pre ng-non-bindable><code>app.controller('AppController', ($scope) => {
  $scope.app = { defaultName: 'Pascal Precht' };
});

app.controller('OtherController', ($scope) => {
  $scope.other = { defaultName: 'Christoph Burgdorf' }
});

app.controller('YetAnotherController', ($scope) => {
  $scope.another = { defaultName: 'thoughtram' }
});
</code></pre>
        </section>

        <section>
          <h2>controllerAs</h2>
            <pre ng-non-bindable><code>app.controller('AppController', () => {
  this.defaultName = 'Pascal Precht';
});

app.controller('OtherController', () => {
  this.defaultName = 'Christoph Burgdorf';
});

app.controller('YetAnotherController', () => {
  this.defaultName = 'thoughtram';
});
</code></pre>
        </section>

        <section>
          <h2>Works for routing...</h2>
          <pre ng-non-bindable><code>app.config(($routerProvider) => {
  $routerProvider
    .when('/', {
      controller: 'BookListController',
      controllerAs: 'bookList',
      templateUrl: 'book-list.tpl.html'
    });
});</code></pre>
          <pre class="fragment" ng-non-bindable><code><li ng-repeat="book in bookList.books">
...
</li></code></pre>
        </section>

        <section>
          <h2>...and Directives!</h2>
          <pre ng-non-bindable><code>app.directive('myComponent', () => {
  return {
    scope: {},
    templateUrl: 'my-component.tpl.html',
    controller: 'MyComponentController',
    controllerAs: 'myComponent'
  };
})</code></pre>
        </section>
        <section>
          <h2>...and Directives!</h2>
          <pre ng-non-bindable><code>app.controller('MyComponentController', () => {
  this.doSomething = () => {
    ...
  }
});</code></pre>
          <pre class="fragment" ng-non-bindable><code><div class="my-component">
  <button ng-click="myComponent.doSomething()">
    Click Me!
  </button>
</div></code></pre>
        </section>
        <section>
          <h3>Problem solved!</h3>
        </section>
        <section>
          <h4>So what about <code>bindToController</code> then?</h4>
        </section>

        <section>
          <pre ng-non-bindable><code>app.controller('MyComponentController', () => {
  this.myValue = 'My Component';
});</code></pre>
          <pre class="fragment" ng-non-bindable><code><div class="my-component">
  {{myComponent.myValue}}
</div></code></pre>
<p class="fragment" style="margin-top: 2em;">What if <code>myValue</code> should be configurable from the outside world?</p>
        </section>

        <section>
          <pre ng-non-bindable><code>app.directive('myComponent', () => {
  return {
    scope: {
      myValue: '='
    },
    ...
  };
})</code></pre>
        </section>

        <section>
          <p>Changes in scope properties are not reflected to the controller's <code>this</code>.</p>
          <pre class="fragment" style="margin-top: 1em;" ng-non-bindable><code>app.controller('MyComponentController', ($scope) => {
  this.myValue = 'My Component';

  $scope.$watch('myValue', (newValue) => {
    this.myValue = newValue;
  });
});</code></pre>
          <p class="fragment" style="margin-top: 1em;">Super sad :(!</p>
        </section>

        <section>
          <p><code>bindToController</code> tells our directive to bind scope properties to the directive's controller.</p>
          <pre class="fragment" style="margin-top: 2em;" ng-non-bindable><code>app.directive('myComponent', () => {
  return {
    scope: {
      myValue: '='
    },
    templateUrl: 'my-component.tpl.html',
    controller: 'MyComponentController',
    controllerAs: 'myComponent',
    bindToController: true
  };
})</code></pre>
        </section>

        <section>
          <h2>Sweet!</h2>
        </section>
        <section>
          <h2>Even better in 1.4</h2>
          <div class="fragment">
          <p>Able to be specified as convenient object notation:</p>
          <pre style="margin-top: 2em;" ng-non-bindable><code>bindToController: {
  text: '@text',
  obj: '=obj',
  expr: '&expr'
},
scope: {}
</code></pre>
</div>
        </section>
        <section>
          <h2>Even better in 1.4</h2>
          <p>Also when creating child scopes!</p>
          <pre style="margin-top: 2em;" ng-non-bindable><code>bindToController: {
  text: '@text',
  obj: '=obj',
  expr: '&expr'
},
scope: true
</code></pre>
        </section>

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#80B4C4">
          <h2>ngModelOptions</h2>
        </section>
        
        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code><input ng-model="name">
<p>Hello {{name}}!</p>
</code></pre>
<iframe class="fragment" src="http://embed.plnkr.co/dB0p5wysKLvjK7oKAA3b/preview"></iframe>
        </section>

        <section data-background="img/seriously.gif">
          <p style="margin-top: 6em;color: #fff; font-weight: bold; font-size: 2em;">Are you serious?</p>
        </section>

        <section>
          <p><code>ngModelOptions</code> allows us to control how <code>ngModel</code> updates are done.</p>
        </section>

        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;input
  ng-model="name" 
  ng-model-options="{ updateOn: 'blur' }"&gt;
<p>Hello {{name}}!</p>
</code></pre>

<iframe class="fragment" src="http://embed.plnkr.co/F5IGCe/preview"></iframe>
        </section>

        <section>
          <p>We can always re-apply default events.</p>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;input
  ng-model="name" 
  ng-model-options="{ updateOn: 'blur' }"&gt;
<p>Hello {{name}}!</p>
</code></pre>
        </section>
        <section>
          <p>We can always re-apply default events.</p>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;input
  ng-model="name" 
  ng-model-options="{ updateOn: 'default blur' }"&gt;
<p>Hello {{name}}!</p>
</code></pre>
        </section>

        <section>
          <h2>Debouncing model updates</h2>
        </section>

        <section class="image-slide">
          <img src="img/search.gif">
        </section>

        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>var debounceSearch = debounceFactory(searchTask, debounceMs);

function searchTask() {
  // do actual search
};

function performSearch(searchStr) {
  var deferred = $q.defer();
  debounceSearch(deferred, searchStr);
  return deferred.promise;
};
</code></pre>
        </section>
        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>function debounceFactory(task, ms) {
  var timeout, result;
  return function () {
      var context = this, args = arguments;
      var later = function () {
        timeout = null;
        result = func.apply(context, args);
      };
      clearTimeout(timeout);
      timeout = setTimeout(later, ms);
      return result;
  };
};
</code></pre>
        </section>

        <section>
          <h3>It doesn't have to be like that!</h3>
        </section>
        <section>
          <p>We can delay model updates with <code>ngModelOptions</code> and <code>debounce</code>.</p>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;input 
  type="search" 
  ng-model="searchQuery" 
  ng-model-options="{ debounce: 300 }"&gt;
<p>Search results for: {{searchQuery}}</p>
</code></pre>
<iframe class="fragment" src="http://embed.plnkr.co/PNxIXX/preview"></iframe>
        </section>

        <section>
          <p>As soon as we use <code>ngModelOptions</code>, model and view can get out of sync.</p>
        </section>

        <section>
          <h2>Synchronizing with $rollbackViewValue</h2>
        </section>
        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>app.controller('AppController', function ($scope) {
  $scope.name = 'thoughtram';

  $scope.cancel = function (e) {
    if (e.keyCode == 27) {
      $scope.userForm.userName.$rollbackViewValue();
    }
  };
});
</code></pre>
<iframe src="http://embed.plnkr.co/KQbeSE/preview" class="fragment"></iframe>
        </section>

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#80B4C4">
          <h2>One-time Bindings</h2>
        </section>
          <section>
          <h2>Databinding in Angular</h2>
          <pre ng-non-bindable><code>app.controller('MyController', () => {
  this.greeting = 'Hello ng-nl crowd!';
});</code></pre>
          <pre class="fragment" ng-non-bindable><code><div ng-controller="MyController as ctrl">
  {{ctrl.greeting}}
</div></code></pre>
<p class="fragment" style="margin-top: 2em;">How does that even work?</p>
        </section>
                <section class="image-slide">
          <h2>Runtime</h2>
          <img class="fragment" src="img/runtime-1.svg">
        </section>

        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-2.svg">
        </section>

        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-2-2.svg">
        </section>

        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-3.svg">
        </section>
        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-4.svg">
        </section>
        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-5.svg">
        </section>
        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-6.svg">
        </section>
        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-7.svg">
        </section>
        <section class="image-slide">
          <h2>Runtime</h2>
          <img src="img/runtime-8.svg">
        </section>

        <section>
          <h3>Best Practice</h3>
          <p>Be careful with the number of bindings</p>
        </section>

        <section class="image-slide">
          <h2>What if I told you...</h2>
        </section>

        <section class="image-slide">
          <h2>...not everything has to be bound forever</h2>
          <img src="img/mindblown.gif" style="margin-top: 2em; width: 600px;">
        </section>

        <section class="image-slide">
          <h3>We can deregister watchers for data that won't change</h3>
        </section>


        <section>
          <h2>bindonce prior to 1.3</h2>
          <div class="fragment">
          <pre style="margin-top: 2em;" ng-non-bindable><code><div bindonce="Person" bo-title="Person.title">
    <span bo-text="Person.firstname"></span>
    <span bo-text="Person.lastname"></span>
    <img bo-src="Person.picture" bo-alt="Person.title">
    &lt;p 
      bo-class="{'fancy':Person.isNice}" 
      bo-html="Person.story">
    &lt;/p&gt;
</div>
</code></pre>
</div>
<p class="fragment" style="margin-top: 0.5em;">Lot's of new directives</p>
<p class="fragment" style="margin-top: 0.5em;">bindonce root directive</p>
<p class="fragment" style="margin-top: 0.5em;">Super sad :(</p>
        </section>


        <section>
          <h2>One-time bindings</h2>
          <div class="fragment">
          <pre style="margin-top: 2em;" ng-non-bindable><code><div title="{{::Person.title}}">
    <span ng-bind="::Person.firstname"></span>
    <span>{{::Person.lastname}}</span>
    &lt;img 
      ng-src="::Person.picture" 
      alt="{{::Person.title}}"&gt;
    &lt;p 
      ng-class="::{'fancy':Person.isNice}" 
      ng-bind-html="::Person.story"&gt;
    &lt;/p&gt;
</div>
</code></pre>
</div>
<p class="fragment" style="margin-top: 1em;">Super happy :)</p>
        </section>


                <section>
          <h2>Also with ng-repeat</h2>
          <div class="fragment">
          <pre style="margin-top: 2em;" ng-non-bindable><code><ul>
  <li ng-repeat="item in ::items">{{item.name}}</li>
</ul>
</code></pre>
</div>
        </section>


                <section>
          <h2>Live Example</h2>
<iframe src="http://embed.plnkr.co/p4L6xQEHKlMNAUM4jyu6/preview"></iframe>
        </section>

                <section>
          <h2>How it works</h2>
          <ul>
            <li class="fragment">Expression starts with <code>::</code></li>
            <li class="fragment">If expression evaluates not to <code>undefined</code> schedule deregistration</li>
            <li class="fragment">Only deregister, if it still doesn't evaluate to <code>undefined</code> at deregistration time</li>
          </ul>
        </section>

        <section data-background="img/surprise.gif">
          <p class="fragment"style="color: #fff; font-weight: bold; font-size: 2em; margin-top: 6em;">You were talking about a surprise right?</p>
        </section>
        <!-- <section> -->
        <!--   <p>What if we <strong>don't</strong> want our model to be updated immediately?</p> -->
        <!-- </section> -->

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#80B4C4">
          <h2>Futuristic Routing</h2>
        </section>

        <section data-background="img/hooray.gif">
          <p class="fragment" style="color: #fff; font-weight: bold; font-size: 2em; margin-top: 6em;">There's going to be a new Router in 1.4!</p>
        </section>

        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>var app = angular.module('app', ['ngRoute']);

app.config(($routeProvider) => {
  $routerProvider
    .when('/', {
      redirectTo: '/welcome'
    })
    .when('/welcome', {
      templateUrl: 'welcome.html',
      controller: 'WelcomeController'
    });
});
</code></pre>
        </section>
        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;div ng-app="app"&gt;
  &lt;ng-view&gt;&lt;/ng-view&gt;
&lt;/div&gt;
</code></pre>
        </section>
    <section>
      <h2>New Router works with components</h2>

      <ul>
        <li class="fragment">Component's template can have "view ports"</li>
        <li class="fragment">Component's controller can have a router</li>
        <li class="fragment">Component's router tells component what goes inside view ports</li>
      </ul>
    </section>
        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;div ng-app="app" ng-controller="AppController"&gt;
  &lt;router-view-port&gt;&lt;/router-view-port&gt;
&lt;/div&gt;
</code></pre>
    </section>
        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>var app = angular.module('app', ['ngFuturisticRouter']);

app.controller('AppController', AppController);

function AppController(router) {
  router.config([
    { path: '/', component: 'welcome' }
  ]);
}
</code></pre>
        </section>

        <section>
          <h2>Welcome Component</h2>
          <pre style="margin-top: 2em;" ng-non-bindable><code><h1>Welcome!</h1>
<p>Hello {{welcome.name}}!</p></code></pre>
          <pre style="margin-top: 2em;" ng-non-bindable><code>function WelcomeController() {
  this.name = 'Pascal';
}</code></pre>
          <p class="fragment"><code>components/welcome/welcome.html</code> is loaded asynchronously.</p>
        </section>

        <section>
          <h2>Configure $componentLoader</h2>
          <pre style="margin-top: 2em;" ng-non-bindable><code>app.config($componentLoaderProvider) => {
  $componentLoaderProvider
    .setCtrlNameMapping((name) => {
      // return controller name
    })
    .setTemplateMapping((name) => {
      // return template url
    });
});
</code></pre>
        </section>

        <section>
          <h3>We can have mutiple view ports too!</h3>
        </section>

        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>function AppController(router) {
  router.config([
    { 
      path: '/',
      components: {
        left: 'left',
        right: 'right'
      }
    }
  ]);
}
</code></pre>
        </section>

        <section>
          <pre style="margin-top: 2em;" ng-non-bindable><code>&lt;div ng-app="app"&gt;
  &lt;div router-view-port="left"&gt;&lt;/div&gt;
  &lt;div router-view-port="right"&gt;&lt;/div&gt;
&lt;/div&gt;
</code></pre>
        </section>

        <section>
          <h2>Component Lifecycle Hooks</h2>

          <ul>
            <li class="fragment"><code>canActivate</code> - Runs before switching to next component</li>
            <li class="fragment"><code>activate</code> - Fires just before navigation finishes</li>
            <li class="fragment"><code>canDeactivate</code> - Fires before any new component is instantiated</li>
            <li class="fragment"><code>deactivate</code> - Fires for each component that is removed as part of navigation</li>
          </ul>
        </section>

        <section>
          <h2>Example</h2>
          <pre style="margin-top: 2em;" ng-non-bindable><code>function MyController(user, $http) {
  this.user = user;
  this.$http = $http;
}

MyController.prototype.canActivate = function() {
  return this.user.isAdmin;
};
</code></pre>

        </section>

        <section>
          <h3>More to come at <strong>ng-conf</strong> :)</h3>
        </section>

        <section>
          <img src="img/async-di.png" style="width: 800px;">
        </section>

        <section>
          <h3>Still not convinced that this is <strong>the best Angular yet</strong>?</h3>
        </section>
        <section class="deck-slide">
          <img style="text-align: center; display: block; margin: 0 auto; width: 320px;" src="img/angularjs-shield.png">
          <h1 style="text-align: center; font-size: 2.4em; margin-top: 0.1em;">Thanks!</h1>
          <p style="text-align: center; font-size: 0.8em;"><a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a> and <a href="http://twitter.com/PascalPrecht">Pascal Precht</a></p>
          <div style="text-align: center;">
            <img style="margin: 0; margin-right: 0.6em; border-radius: 50%; width: 100px;" src="img/christoph.png">
            <img style="margin: 0; margin-left: 0.6em; border-radius: 50%; width: 100px;" src="img/pascal.jpeg">
          </div>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
